/* ESTILOS GENERALES */
#all{
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #D6DBDF;
}
/* COTENEDOR DEL MAIN*/
#container {
  width: 100%;
  display: flex;
  flex-flow: nowrap;
  justify-content: space-around;
}
/* ESTILOS DE LA SECTION Y ASIDE*/
.cuerpo {
  width: calc(70% - 40px);
  margin: 2vw;
  padding: 2vw;
  border: 3px solid #2C3E50;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  background-color: #CCD1D1;

}
.cuerpo:hover,
.lateral:hover{
  border-color: #148F77;
}

.lateral {
  width: calc(30% - 40px);
  margin: 2vw;
  padding: 2vw;
  border: 3px solid #2C3E50;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  background-color: #CCD1D1;

}
/* ESTILOS DE LOS BOTONES*/
.btns {
  display: flex;
  justify-content: space-around;
}

#btn {
  --color: #148F77;
  padding: 0.8em 1.7em;
  background-color: transparent;
  border-radius: .3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: .5s;
  font-weight: 400;
  font-size: 17px;
  border: 3px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
  width: 280px;
  margin: 20px;
  font-weight: bolder;
}

#btn:disabled {
  opacity: 0.7; 
  cursor: not-allowed;
}

/* ANIMACION DE LOS BOTONES*/
#btn::before,
#btn::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
}

#btn::before,
#btn::after {
  top: -1em;
  left: -1em;
}

#btn::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

#btn:hover::before,
#btn:hover::after {
  height: 410px;
  width: 410px;
}

#btn:hover {
  color: rgb(0, 0, 0);
}

#btn:active {
  filter: brightness(.8);
}
/*ESTILOS DE LOS CAMPOS DE TEXTO (TEXTAREA)*/
#texto,
#salida {
  width: 100%;
  height: 500px;
  padding: 0 20px;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 700;
  border:none;
  resize: none;
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
  color:black;
  background: none;
}
#texto:focus,
#salida:focus{
  outline: none;
}
/*DEFINCION DE TAMAÑO DE LAS IMAGENES PARA LOS BOTONES*/
.img {
  width: 80px;
  height: auto;
}
/* ESTILO PARA EL PIE DE PAGINA*/
#pie {
  padding: 9px;
  width: 100%;
  height: auto;
  background-color: #148F77;
  position: fixed;
  bottom: 0;
  left: 0; 
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer{
  font-size: 26px;
}
.vinculos {
  display: flex;
  gap: 90px;
  padding: 10px;
}
/* MEDIA PARA RESPONSIVIDAD*/
@media (max-width: 980px) {
  #container {
    flex-direction: column;
  }

  .cuerpo,
  .lateral {
    width: calc(95% - 4vw);
    margin: 2vw; 
    padding: 2vw; 
  }

  .btns {
    flex-direction: column;
    justify-content:space-around;
    gap: 30px;
    text-align: center;
  }

  #pie {
    width: calc(100% - 18px);
    position: relative;
    bottom: auto;
    left: auto; 
  }
}